.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.94rem;
  margin-bottom: 6.33rem;
}

.Search input {
  width: 487px;
  height: 10px;
  padding: .88rem 0;
  border: 1px solid #00000058;
  border-radius: 15px;
  margin-bottom: 2.22rem;
  margin: 20px;
  color: #010c3f;
  text-align: center;
  font-size: 0.9rem;
}

.Search input:focus {
  outline: none;
}

.SearchButton {
  
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: #b99ff6cc;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0px;
  color: #000000;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgba(108, 65, 233, .7);
}